body {
        margin: 0;
}
p {
        font-size: 12px;
        color: #333333;
        font-family: Arial, Helvetica, sans-serif;
}
div#wrapper
{
	width: 957px;
	position: relative;
    margin: 0 auto;
}
div#top
{
	width: 957px;
	height: 70px;
	border-bottom: solid 5px #A40084;
}
div#top img#logo
{
	width: 165px;
	height: 70px;
	float: left;
}
div#top div#caroussel
{
	display: inline;
	width: 792px;
	height: 70px;
	overflow: hidden;
}
div#nav
{
	height: 30px;
	background: #818181;
	text-align: center;
}
div#nav ul
{
	margin: 0;
	padding: 8px 0 0 0;
	list-style: none;
        font-family: Verdana,Geneva,sans-serif;
        font-size: 10px;
        font-weight: bold;
}
div#nav ul li
{
	display: inline;
	margin: 0 30px 0 30px;
}
div#nav ul li a {
        color: #FFFFFF;
        text-decoration: none;
}
#back
{
	float: left;
	margin: 33px 0 0 0;
	width: 73px;
}
#back h1
{
	padding: 38px 5px 100px 0;
	margin: 0 6px 0 0;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
    font-family:ITCNewBaskervilleRegular;
	color: #666;
    font-size: 16px;
	font-weight: normal;
	letter-spacing: 0.5px;
	text-align: right;
}
.twoCol
{
	float: left;
	margin: 33px 0 0 0;
	padding: 0 30px;
}
.twoCol ul, .twoCol ol
{
	margin: 0 0 0 12px;
	padding: 0;
	
}
.twoCol ul li, .twoCol ol li
{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	margin: 0 0 6px 0;
	color: #333;
	
}
.twoCol p a
{
	text-decoration: none;
	color: #A40084;
}
div#mainTwoCol
{
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	width: 395px;
}
div#rightTwoCol
{
	width: 365px;
}
#mainTwoCol h1, #rightTwoCol h1
{
	font-family:ITCNewBaskervilleRegular;
	font-weight: normal;
	letter-spacing: 0.8px;
	font-size: 24px;
	margin: 0;
	position: relative;
}
#mainTwoCol h1
{
	color: #666;
}
#rightTwoCol h1
{
	color: #A40084;
}
#mainTwoCol h1 a
{
	font-size: 16px;
	color: #999;
	position: absolute;
	right: 20px;
	bottom: 4px;
	letter-spacing: 0.6px;
}
#mainTwoCol h2, #rightTwoCol h2
{
	color: white;
	font-family:ITCNewBaskervilleRegular;
	font-weight: normal;
	padding: 6px 0 4px 12px;
	letter-spacing: 0.8px;
	font-size: 24px;
}
#mainTwoCol h2 { background: #818181; }
#rightTwoCol h2 { background: #A40084; }
#mainTwoCol h2.wide { width: 400px; }
ul.faq li.a
{
	display: none;
}
ul.faq li.a_selected
{
	display: block;
	line-height: 16px;
	margin: 0 0 18px 0;
}
ul.faq li.q_selected
{
	list-style: none;
	font-size: 16px;
	border-bottom: 1px solid #999;
	padding-bottom: 6px;
}