@charset "UTF-8";
/* CSS Document */
body
{
	margin: 0;
}	
div#wrapper
{
	width: 957px;
	position: relative;
    margin: 0 auto;
}
div#top
{
	width: 957px;
	height: 70px;
	border-bottom: solid 5px #A40084;
}
div#top img#logo
{
	width: 165px;
	height: 70px;
	float: left;
}
div#top div#caroussel
{
	display: inline;
	width: 792px;
	height: 70px;
	overflow: hidden;
}
div#nav
{
	height: 30px;
	background: #818181;
	text-align: center;
}
div#nav ul
{
	margin: 0;
	padding: 8px 0 0 0;
	list-style: none;
        font-family: Verdana,Geneva,sans-serif;
        font-size: 10px;
        font-weight: bold;
}
div#nav ul li
{
	display: inline;
	margin: 0 30px 0 30px;
}
div#nav ul li a {
        color: #FFFFFF;
        text-decoration: none;
}
div.navtabs {
        margin-left: 350px;
        width: 240px;
        height: 34px;
}
.navtabs a.tab1, .navtabs a.tab2 {
        float: left;
        display: block;
        width: 148px;
        height: 34px;
        background: url('../images/preview.jpg') 0 0 no-repeat;
}
.navtabs a.tab2 {
        margin-left: 15px;
        width: 77px;
        background: url('../images/vintage.jpg') 0 0 no-repeat;
}
.navtabs a.tab1:hover {
        background: url('../images/preview_over.jpg') 0 0 no-repeat;
}
.navtabs a.tab2:hover {
        background: url('../images/vintage_over.jpg') 0 0 no-repeat;
}
div.tinSearchSidebar
{
	width: 278px;
	float: left;
	margin: 0 63px 0 0;
	font-family: Georgia,"Times New Roman",Times,serif;
	min-height: 600px;
}
div.tinSearchSidebar h4
{
	color: #999999;
        font-size: 12px;
	font-weight: normal;
        text-decoration: underline;
	margin: 9px 0 42px 2px;
        cursor: pointer;
}
div.tinSearchSidebar div.tabs
{
	margin: 2px 0 -3px -2px;
}
div.tinSearchSidebar div.tinSearchMenu
{
	width: 276px;
	border-right: 1px black solid;
}
div.tinSearchSidebar input.tinSearchInput
{
	font-family: Georgia,"Times New Roman",Times,serif;
	border: 4px solid #93238E; 
	color: #93238E;
        font-size: 16px;
        font-weight: normal;
        height: 20px;  
        padding: 4px 0 0 0;
        margin: 0;
        text-indent: 10px;
        width: 259px;
}
ul#define_search
{
	margin: 16px 20px 0 3px;
	padding: 0 0 9px 0;
	list-style: none;
	border-bottom: solid 1px #999;
}
ul#define_search li
{
	color: #666666;
    font-size: 12px;
    font-style: italic;
    line-height: 24px;
}
ul#define_search input
{
	margin: 0 10px 0 6px;
}
div.tinSearchSidebar div#field_search
{
        margin: 0 20px 0 3px;
        border-bottom: solid 1px #999;
        padding-bottom: 12px;
}
div.tinSearchSidebar div#field_search img
{
        margin: 3px 0 0 -4px;
}
div.tinSearchSidebar div#field_search select
{
        float: right;
        margin-top: 17px;
}
div.tinSearchSidebar div#tinSearchThesaurusAdd
{
        margin: 0 20px 0 3px;
        border-bottom: solid 1px #999;
        padding-bottom: 10px;
}
div.tinSearchSidebar div#tinSearchThesaurusAdd img
{
        margin: 8px 0 0 -6px;
}
div.tinSearchSidebar div.tinSearchFacets
{
        color: #666666;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 11px;
        margin: 0 17px 0 0;
        padding: 18px 0 0 0;
        text-align: right;
}
.tinSearchContainer {
        margin-top: 6px;
        float:left;
        width: 616px;
}
div.tinSearchFacets li.current a{
        font-weight: bold;
        color: #333;
}
div.tinSearchFacets div h2
{
        line-height: 21px;
        font-size: 11px;
        text-transform: uppercase;
        margin: 5px 0 2px 0;
}
div.tinSearchFacets div h2.closed
{
        border-bottom: thin dashed #CCCCCC;
}
div.tinSearchFacets div h2.closed span.meer
{
        float:left;
        font-size: 10px;
        color: #999;
        text-transform: none;
        font-weight: normal;
}
div.tinSearchFacets div a 
{
        text-decoration: none;
        color: #666666;
}
div.tinSearchFacets div a.number
{
        color: #CCC;
        font-weight: normal;
}
div.tinSearchFacets div ul
{
        margin: 0;
        padding: 0;
        list-style: none;
}
div.tinSearchFacets div li
{
        margin: 0 0 3px 0;
}
div.tinSearchFacets div li.facet_toggle {
        text-align: left;
        border-bottom: 1px dotted #CCC;
}

.tinSearchNumberOfResults h1 {
        margin: 80px 0 0 0;
        color: #A40084;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 14px;
        font-weight: bold;
}
.tinSearchNumberOfResults h1 a.tinButton {
        background: url('../images/tinCloseBtn.jpg') 0 0 no-repeat;
        width: 13px;
        height: 13px;
        display: inline-block;
        margin: 0 0 -1px 0;
        cursor: pointer;
}
.tinSearchSuggestion {
        margin: 10px 0 10px 0;
        color: #666666;
        font-family: arial;
        font-size: 12px;
        font-style: italic;
        font-weight: normal;
}
h3.terug {
        margin: 8px 0 10px 0;
        color: #666666;
        font-family: Georgia,"Times New Roman",Times,serif;
        font-size: 14px;
        font-style: italic;
        font-weight: normal;
        letter-spacing: 0.5px;
}
.normalSearch, .thumbSearch {
        cursor: pointer;
}
div.faq {
        background: url('../images/faq_info.jpg') 0 0 no-repeat;
        position: absolute;
        top: 109px;
        right: 0px;
        height: 58px;
        width: 92px;
        z-index: 20;
}
div.faq a {
        z-index: 50;
        margin-top: 14px;
        float: left;
        cursor: pointer;
        display: block;
        height: 36px;
        width: 36px;
}
.tinSearchResults {
	color: #666666;
        font-family: Arial,Helvetica,sans-serif;
}
div.tinSearchResults {
        margin: 0;
        padding: 8px 0 0 0;       
}
div.tinSearchResults div.tinSearchResult:first-child {
        border-top: thin dashed #CCCCCC;
}
div.tinSearchResults .tinSearchResult {
        width: 589px;
	min-height: 82px;
	margin: 0 0 0 -2px;
}
div.tinSearchResults div img:first-child {
        margin: 0;
	float: left;
}
/*div.tinSearchResults div img.tinSearchResultImg {
        margin: 0;
        float: left;
}*/
div.tinSearchResults div img {
        margin: 4px 0px 6px 15px;
	float: right;
}
div.tinSearchResults div h2 {
        font-size: 13px;
        margin: 7px 0 0 100px;
}
div.tinSearchResults div h2 a {
        text-decoration: none;
        color: #666666;
}
div.tinSearchResults div p {
        font-size: 10px;
        font-style: italic;
        line-height: 13px;
	margin: 1px 0 5px 100px;
}
div.tinSearchResults button.tinPlayButton, div.tinSearchResults div.tinSearchAudioPlay {
	display: block;
        float: right;
        margin-bottom: 1em;
}
div.tinSearchResults div.tinSearchAudioPlayText {
        float: right;
        font-size: 13px;
}
div.tinSearchResult
{
	border-top: thin dashed #CCCCCC;
	display: inline-block;
	width: 589px;
	padding-top: 8px;
}
div.tinSearchResult p.pHidden {
        font-size: 10px;
        font-style: italic;
        line-height: 13px;
        margin: 1px 0 5px 100px;
        display: none;
}
div.tinSearchResults p:last-child
{
	font-size: 12px;
	line-height: 18px;
	margin: 36px 0 0 0;	
}
input.loading {
        background: url('../images/loading.gif') 235px 3px no-repeat;
}
div.tinSearchResultPhoto {
	position: relative;
	margin-bottom: 15px;
	line-height: 17px;
	float: left;
	min-width: 10em;
	text-align: center;
	height: 190px;
	width: 190px;
	margin:0 20px 20px 0;
}

div.lastPhoto {
        margin-right: 0;
}
	
	div.tinSearchResultPhoto img {
		background: #ccc;
		margin: 0;
	}

	.tinSearchPhoto {
		margin-right: 20px;
		cursor: pointer;
		position: absolute;
		bottom:0;
		width:100%;
	}
	.tinSearchDetail .tinSearchPhoto {
		position: static;
	}

	.tinSearchResultTitle{
		background:#8d3484;
		min-height: 28px;
		padding:4px 0;
		width:100%;
		margin-bottom:5px;
                -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
                filter: alpha(opacity=80);
                -moz-opacity:0.8;
                -khtml-opacity: 0.8;
		opacity:0.8;
		position: absolute;
		bottom: 5px;
		color:white;
		text-align:left;
		font-size:11px;
		line-height:12px;
	}
	
	.tinSearchResultTitle a{
		color:white;
		text-decoration:none;
	}
	
	.tinSearchResultTitle .title{
		font-weight:bold;
	}
	
	.tinSearchResultTitle span{
		padding:5px 0 0 10px;
	}
	
	div.tinSearchDetail {
		display: none;
		position: absolute;
		top: -20px;
		left: 0;
		min-width: 14em;
		background: #fff;
		padding: .5em;
		z-index: 99;
		text-align: left;
		-moz-box-shadow: 0 0 10px #707070;
		-webkit-box-shadow: 0 0 10px #707070;
		box-shadow: 0 0 10px #707070;
	}

	div.tinSearchResults div.tinSearchDetail h1 {
		display: inline;
                font-size: 15px;
                margin-bottom: 5px;
	}
        
        div.tinSearchResults div.tinSearchDetail h1 a {
                text-decoration: none;
                color: #707070;
        }
        
        div.tinSearchResults div.tinSearchDetail h1 a:hover {
                text-decoration: underline;
        }

	div.tinSearchDetail img {
		height: 190px;
		display: block;
		margin: 0 auto;
	}
	
	.tinDetail .tinSearchContainer, .tinDetail .tinClear{
		display:none
	}
	
	.tinDetail{
		float:left;
	}

div.tinSearchPhotoExcluded {
        margin: 0 !important;
	border: dashed 1px #8B8178;
	width: 60px;
	padding: 38px 1em 0;
	height: 62px;
	text-align: center;
	color: #999;
	background: #EFEFEF;
	background-image: -moz-linear-gradient(top,#F5F5F5,#FFFFFF);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#EFEFEF),to(#FFFFFF));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#EFEFEF,endColorStr=#FFFFFF);
}

a.tinSearchPhotoExcluded {
        margin: 0 !important;
	border: dashed 1px #8B8178;
	width: 180px;
	padding: 40px 1em 0;
	height: 60px;
	text-align: center;
	color: #999;
	display: block;
	background: #EFEFEF;
	background-image: -moz-linear-gradient(top,#F5F5F5,#FFFFFF);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#EFEFEF),to(#FFFFFF));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#EFEFEF,endColorStr=#FFFFFF);
}

.hiddenUpdater {
        display:none;
}
.tinClear {
        clear:both;
}

a img{
	border:none;
}

/* Search Result Detail Page */
.search-result
{
	color: #666666;
    font-family: Arial,Helvetica,sans-serif;
}
.search-result dd .clear
{
	clear:none;
}
ul.search-result
{
	margin: 0;
	padding: 8px 0 0 0;
	list-style: none;
	padding: 2px 0 0 0;
}
ul.search-result li:first-child
{
	border-top: thin dashed #CCCCCC;
}
ul.search-result li
{
	border-bottom: thin dashed #CCCCCC;
	display: inline-block;
	width: 589px;
	height: 82px;
	margin: 0 0 0 -2px;
}
ul.search-result li img:first-child
{
	margin: 4px 15px 6px 1px;
	float: left;
}
ul.search-result li img
{
	margin: 4px 0px 6px 15px;
	float: right;
}
ul.search-result li h2
{
    font-size: 13px;
    margin: 7px 0 0 0;
}
ul.search-result li p
{
    font-size: 10px;
    font-style: italic;
    line-height: 13px;
	margin: 1px 0 0 0;
}
div.search-result
{
	border-top: thin dashed #CCCCCC;
	display: inline-block;
	width: 589px;
	padding-top: 8px;
}
div.search-result img
{
	float: left;
	margin-right: 16px;
}
div.search-result h2
{
	font-size: 15px;
    margin: 7px 0 0 0;
}
div.search-result p
{
	font-size: 12px;
	line-height: 18px;
	margin: 1px 0 18px 0;
}
div.search-result p:last-child
{
	font-size: 12px;
	line-height: 18px;
	margin: 36px 0 0 0;
	
}
