div.tinPageNav {
	position: absolute;
	bottom: 0;
	margin: 0;
	color: #5A447A;
	border: dashed 1px #8B8178;
	border-bottom: 0;
	padding: 0.9em 0 .7em;
	display: none;
	text-align: center;
	width: 70%;
}

	div.tinPageNavMiddle {
		position: relative;
		margin: 0 7em 0 5.5em;
	}

	div.tinPageNav a {
		padding: 0 4px;
		color: #5A447A;
		font-weight: bold;
		display: inline-block;
	}

	div.tinPageNav span {
		position: relative;
		display: inline-block;
		padding: 0 6px;
		color: #5A447A;
		font-weight: bold;
	}

	div.tinPageNav span.tinPageNavPrev {
		position: absolute;
		left: 0;
		top: 0.9em;
		padding: 0 0 0 .8em;
		height: auto;
	}

	div.tinPageNav span.tinPageNavNext {
		position: absolute;
		right: 0;
		top: 0.9em;
		padding: 0 .8em 0 0;
		height: auto;
	}

	div.tinPageNav span.tinPageNavPrev a,
	div.tinPageNav span.tinPageNavNext a {
		padding: 0 .2em 0;
		float: none;
	}

	div.tinPageNav span.tinPageNavPrev a {
		padding-left: .25em;
	}

	div.tinPageNav .tinButton {
	    margin: -.25em 2px 0;
	}

	div.tinPageNav a.tinButton {
	    text-decoration: none;
	}

div.tinBlock{
	height:30px;
}