@charset "UTF-8";
/* CSS Document */
body
{
	margin: 0;
}	
div#wrapper
{
        margin: 0 auto;
	width: 957px;
	position: relative;
}
div#top
{
	width: 957px;
	height: 70px;
	border-bottom: solid 5px #A40084;
}
div#top img#logo
{
	width: 165px;
	height: 70px;
	float: left;
}
div#top div#caroussel
{
	display: inline;
	width: 792;
	height: 70px;
	overflow: hidden;
}
div#nav
{
	height: 30px;
	background: #818181;
	text-align: center;
}
div#nav ul
{
	margin: 0;
	padding: 8px 0 0 0;
	list-style: none;
        font-family: Verdana,Geneva,sans-serif;
        font-size: 10px;
        font-weight: bold;
}
div#nav ul li
{
	display: inline;
	margin: 0 30px 0 30px;
}
div#nav ul li a {
        color: #FFFFFF;
        text-decoration: none;
}
div.faq {
        background: url('../images/buttons/faq_info.jpg') 0 0 no-repeat;
        position: absolute;
        top: 138px;
        right: 0px;
        height: 58px;
        width: 92px;
        z-index: 20;
}
div.faq a {
        z-index: 50;
        margin-top: 14px;
        cursor: pointer;
        display: block;
        height: 36px;
        width: 72px;
}
div#category_search h2
{
	line-height: 21px;
	font-size: 11px;
        text-transform: uppercase;
	margin: 5px 0 2px 0;
}
div#category_search h2.closed
{
	border-bottom: thin dashed #CCCCCC;
}
div#category_search h2.closed span.meer
{
	float:left;
	font-size: 10px;
	color: #999;
	text-transform: none;
	font-weight: normal;
}
div#category_search span.number
{
	color: #CCC;
	font-weight: normal;
}
div#category_search ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}
div#category_search li
{
	margin: 0 0 3px 0;
}
h3.terug {
        margin: 15px 20px 0 20px;;
        border-bottom: thin dashed #CCCCCC;
}
h3.terug a {
        text-decoration: none;
	margin: 8px 0 10px 0;
        color: #666666;
        font-family: Georgia,"Times New Roman",Times,serif;
        font-size: 14px;
        font-style: italic;
	font-weight: normal;
	letter-spacing: 0.5px;
}
div.search-result
{
        color: #666666;
        font-family: Arial,Helvetica,sans-serif;
	padding-top: 8px;
        margin: 10px 40px 0 40px;
}
div.search-result img, div.search-result, div.image-here, div.result-data
{
        float: left;
	margin-right: 16px;
        
}
div.image-here, div.image-here img {
        max-width: 440px;
}
div.result-data {
        margin-top: 10px;
        max-width: 410px;
}
div.search-result h2, div.search-result h1
{
        max-width: 350px;
	font-size: 15px;
        margin: 0;
}
div.search-result p, .disciplines
{
	font-size: 12px;
	line-height: 18px;
	margin: 1px 0 18px 0;
}